body > div.body-item.hotplace-container {
    position: relative;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div.body-item.hotplace-container > div.hotplace-item.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #4bacd9;
    font-size: 3rem;
}

body > div.body-item.hotplace-container > div.hotplace-item.title > div.title.title1 {
    font-weight: 400;
    margin-right: 1rem;
}

body > div.body-item.hotplace-container > div.hotplace-item.title > div.title.title2 {
    font-weight: 600;
    margin-right: 1rem;
}

body > div.body-item.hotplace-container > div.hotplace-item.title > div.title.title3 {
    font-weight: 400;
}

body > div.body-item.hotplace-container > div.hotplace-item.explanation {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #636363;
}

body > div.body-item.hotplace-container > div.hotplace-item.list {
    display: flex;
    flex-direction: row;
}

body > div.body-item.hotplace-container > div.hotplace-item.list > div.hotplace-item.form-container {
    display: inline-block;
    position: relative;
    align-items: center;
    font-size: 1.2rem;
    margin: 2rem 1rem;
}

body > div.body-item.hotplace-container > div.hotplace-item.list > div.hotplace-item.form-container > div.form-item.rank {
    background: #4bacd9;
    color: #ececec;
    font-weight: 500;
    padding: .2rem .5rem;
    position: absolute;
    text-align: left;
    z-index: 1;
}

body > div.body-item.hotplace-container > div.hotplace-item.list > div.hotplace-item.form-container > div.form-item.photo {
    width: 14.5rem;
    height: 13rem;
    overflow: hidden;
}

body > div.body-item.hotplace-container > div.hotplace-item.list > div.hotplace-item.form-container > div.form-item.photo > img {
    width: auto;
    height: 100%;
}

body > div.body-item.hotplace-container > div.hotplace-item.list > div.hotplace-item.form-container > div.form-item.photo-title {
    color: #636363;
    font-size: 1.5rem;
    font-weight: 600;
}

body > div.body-item.hotplace-container > div.hotplace-item.list > div.hotplace-item.form-container > div.form-item.photo-explanation {
    color: #636363;
    font-size: .9rem;
}

body > div.body-item.hotplace-container > div.hotplace-item.list > div.hotplace-item.form-container > div.form-item.photo-publisher {
    color: #8b8b8b;
    font-weight: 400;
}