body > div.heading-box > div.body-item.register {
    width: 95vw;
    max-width: 30rem;
    top: calc(50% - 0.5rem);
    left: 50%;
    background: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.625rem #50505025;
    cursor: default;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    pointer-events: none;
    user-select: none;
    transform: translate(-50%, -50%);
    transition-duration: 500ms;
    z-index: 10;
}

body > div.heading-box > div.body-item.register.visible {
    top: 50%;
    opacity: 1;
    pointer-events: all;
}

body > div.heading-box > div.body-item.register > div.top-container {
    padding: .5rem 0 .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.0125rem solid #bfbfbf;
}

body > div.heading-box > div.body-item.register > div.top-container > div.top-container.title {
    text-align: center;
    color: #636363;
    flex: 1;
}

body > div.heading-box > div.body-item.register > div.top-container > div.top-container.close {
    width: 1rem;
    height: 1rem;
    background-image: url("../../images/indexImages/close.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

body > div.heading-box > div.body-item.register > div.top-container > div.top-container.close {
    margin-right: 1rem;
}

body > div.heading-box > div.body-item.register > div.top-container > div.top-container.close:hover {
    filter: brightness(0.5);
}

body > div.heading-box > div.body-item.register > div.register-item.body-container {
    border-bottom: 0.0125rem solid #bfbfbf;
    padding-top: 1rem;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.body-container.input {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.body-container.input > label {
    display: flex;
    width: 7rem;
    align-items: center;
    color: #636363;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.body-container.input > input {
    width: 65%;
    flex: 1;
    background: #f5f5f5;
    padding: .75rem 1rem;
    outline: none;
    border: none;
    border-bottom: .0625rem solid #bfbfbf;
    border-radius: 0 0 1.5rem 0;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.body-container.input > input:focus {
    outline: none;
    border-bottom: .0625rem solid #8b8b8b;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.body-container.input > input.highlight {
    box-shadow: 0 0 0.25rem 0.0625rem #da5050;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.body-container.input > div {
    cursor: pointer;
    margin-left: 1rem;
    background: #4bacd9;
    border-radius: 1rem;
    color: #ececec;
    line-height: 2.3rem;
    padding: .2rem .7rem;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.body-container.input > div:hover {
    background: #4296bd;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.body-container.input > div:active {
    background: #3a86aa;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.result {
    font-size: .7rem;
    margin-left: 9rem;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.result.failure {
    color: #d41a1a;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > div.result.success {
    color: #07bb0b;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > input {
    width: 84%;
    margin: 1.5rem 2rem;
    padding: .5rem 0;
    border: .125rem solid transparent;
    border-radius: 2rem;
    background: #4bacd9;
    cursor: pointer;
    color: #ececec;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    outline: none;
}

body > div.heading-box > div.body-item.register > div.register-item.body-container > input:hover {
    background: #ececec;
    border: .125rem solid #4bacd9;
    color: #4bacd9;
}